@{
    ViewBag.Title = "Geeky Gadgets";
}

<div class="jumbotron jumbotron-fluid bg-dark text-white">
    <div class="container">
        <h1 class="display-4 wow animate__animated animate__fadeInDown">Добро пожаловать в Geeky Gadgets!</h1>
        <p class="lead wow animate__animated animate__fadeInUp">Мы предлагаем широкий выбор смартфонов, ноутбуков и аксессуаров по доступным ценам.</p>
        <a class="btn btn-primary btn-lg wow animate__animated animate__fadeInUp" href="#" role="button">Узнать больше</a>
    </div>
</div>

<div class="carousel">
    <div>
        <img src="https://i.imgur.com/IoFgG7T.jpg" alt="slide1" class="d-block w-100">
    </div>
    <div>
        <img src="https://i.imgur.com/7Lopb9A.jpg" alt="slide2" class="d-block w-100">
    </div>
    <div>
        <img src="https://i.imgur.com/8hIgR5A.jpg" alt="slide3" class="d-block w-100">
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4 wow animate__animated animate__fadeInLeft">
        <div class="card">
            <img src="https://i.imgur.com/7Lopb9A.jpg" alt="phone" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Смартфоны</h5>
                <p class="card-text">Выберите из нашего широкого ассортимента смартфонов по доступным ценам.</p>
                <a href="#" class="btn btn-primary">Перейти &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 wow animate__animated animate__fadeInDown">
        <div class="card">
            <img src="https://i.imgur.com/8hIgR5A.jpg" alt="laptop" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Ноутбуки</h5>
                <p class="card-text">Мы предлагаем широкий выбор ноутбуков различных марок и моделей по доступным ценам.</p>
                <a href="#" class="btn btn-primary">Перейти &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 wow animate__animated animate__fadeInRight">
        <div class="card">
            <img src="https://i.imgur.com/IoFgG7T.jpg" alt="accessory" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Аксессуары</h5>
                <p class="card-text">Наш магазин предлагает большой выбор аксессуаров для смартфонов и ноутбуков.</p>
                <a href="#" class="btn btn-primary">Перейти &raquo;</a>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5 mb-5">
    <p>Посетите наш магазин, чтобы узнать больше о наших продуктах.</p>
</div>
