<h1>ВЫ ПЕРЕШЛИ НА ЗАЩИЩЕННУЮ СТРАНИЦУ</h1>


<script>
    async function sendToken() {
        const token = getCookie("token");
        const config = {
            headers: { Authorization: `Bearer ${token}` }
        };

        fetch('/Secret', config)
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error(error));
    }

    function getCookie(name) {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                return cookie.substring(name.length + 1);
            }
        }
        return null;
    }

    sendToken();

</script>
