@using Microsoft.AspNetCore.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GeekyGadgets.Domain.ViewModels.Account.LoginViewModel


<h1>Вход</h1>



@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken() <!-- Вот здесь добавляем AntiForgeryToken -->
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>

<script>
    async function sendToken() {
        const token = getCookie("token");
        const config = {
            headers: { Authorization: `Bearer ${token}` }
        };

        fetch('/Secret', config)
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error(error));
    }

    function getCookie(name) {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                return cookie.substring(name.length + 1);
            }
        }
        return null;
    }

    sendToken();

</script>